<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <title>Gerador de Conexão</title>

        <link
            rel="stylesheet"
            href="../assets/lib/photon/dist/css/photon.min.css"
        />
        <link rel="stylesheet" href="../assets/css/custom.css" />
    </head>
    <body>
        <div class="window">
            <div id="header"></div>
            <div id="mainContent" class="window-content"></div>
            <div id="footer"></div>
        </div>

        <script src="../../src/controller/controller.js"></script>
    </body>
</html>
